/**
 * Project: Project name 
 * File:    Main SCSS
 */
@import 'modules/_fonts';
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
body {
    margin: 0;
    padding: 0;
}

.choice-wrapper {
    margin:5px;
    overflow: hidden;
    padding-right: 50px;
}

.choice-wrapper .date, .endresults-wrapper .date {
    font-family: "Guardian Egyptian Web";
    font-weight: 800;
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 12px;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    font-size: 18px;
}

.choice {
    padding-bottom: 15px;
}

.option {
    
    margin-bottom: 12px;
    margin-top: 12px;
    position: relative;
    border: 3px solid #abe4f0;
    box-sizing: border-box;  
}

.option.resolved {
    border-bottom: 3px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #4bc6df;
}

.option.continues {
    margin-bottom: 30px;
}

.option.continues:after {
    content:"";
    width: 110px;
    height: 70px;
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    right:-87px;
    z-index: 99999999;
}

.option.continues.worse:after {
    background-image: url('./imgs/stormy.svg');
}

.option.continues.better:after {
    background-image: url('./imgs/sunny.svg');
}

.option h4 {
    padding-left: 12px;
    padding-top: 12px;
    font-family: "Guardian Egyptian Web";
    font-weight: normal;
}

.option p {
    padding-left: 12px;
    padding-right: 12px;
     font-family: "Guardian Sans Web";
     color: #333;
}

.option-a {
    float: left;
    width: 100%;    
}

.option-b {
    float: left;
    width: 100%;    
}

.option-c {
    display: none;
    float: left;
    width: 100%;    
}

.endresults-wrapper {
    padding-right: 50px;
}

.endresult {
    float: left;
    width:100%;
    background-color: #bdbdbd;
    color: #fff;
    margin-bottom: 12px;
    margin-top: 12px;
    border-bottom: 3px solid #000;
}

.endresult h4 {
   padding-left: 12px;
   padding-top: 12px;
   margin-bottom: 0px;
    color: #000;
    font-family: "Guardian Egyptian Web";
    font-weight: normal;
}

.endresult p {
    padding-left: 12px;
    padding-right: 12px;
     font-family: "Guardian Sans Web";
}

.credits {
    clear: both;
    padding-top: 12px;
}

h4 span {
    font-weight: bold;
}
.credits {
    clear:both;
    padding-top: 12px;
}

@media screen and (min-width: 800px) {
    .option-a {
    float: left;
    width: 45%;    
}

.option-b {
    float: right;
    width: 45%;    
}

.option-c {
    float: right;
    width: 45%;    
}

.choice {
    max-width: 500px;
}

.endresults-title {
    padding-bottom: 20px;
     max-width: 500px;
}

.endresult {
width: 23%;
margin-right: 2.5%;
float: left;
}


#a4  {
margin-right: 0;
}
}

@media screen and (min-width: 1200px) {
.endresults-wrapper {
    padding-right: 150px;
    padding-left: 240px;
    border-top: 1px solid #dcdcdc;
}

.choice-wrapper {
   padding-right: 150px;
padding-left: 240px;
border-top: 1px solid #dcdcdc;
}

.choice-wrapper .date, .endresults-wrapper .date {
   margin-left: -240px;
   width: 220px;
   float: left;
   font-size: 24px;
   padding-right: 20px;
   line-height: 1.2em;
   font-weight: normal;
   border-top: none;
   padding-top: 0;
}


.choice {
    padding-top: 10px;
}

.endresults-title {
    padding-top: 10px;
}

}
