/**
 * Project: Project name 
 * File:    Main SCSS
 */
@import 'modules/_fonts';
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
body {
    margin: 0;
    padding: 0;
}

.choice-wrapper {
    margin:5px;
    overflow: hidden;
}

.choice-wrapper .date {
    font-family: "Guardian Egyptian Web";
    font-weight: 800;
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 12px;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    font-size: 18px;
}

.option {
    
    margin-bottom: 12px;
    margin-top: 12px;
    position: relative;
    border: 3px solid #abe4f0;
    box-sizing: border-box;  
}

.option.resolved {
    border-bottom: 3px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #4bc6df;
}

.option.continues {
    margin-bottom: 30px;
}

.option.continues:after {
    content:"";
    width: 40px;
    height: 40px;
    /*background-image: url('./imgs/continue.gif');*/
    background-color: #fff;
    position: absolute;
    top: 10px;
    right:-20px;
    z-index: 99999999;
    border: 3px solid #abe4f0;
    border-radius: 50%;
}

.option h4 {
    padding-left: 12px;
}

.option p {
    padding-left: 12px;
    padding-right: 12px;
     font-family: "Guardian Sans Web";
}

.option-a {
    float: left;
    width: 100%;    
}

.option-b {
    float: left;
    width: 100%;    
}

.option-c {
    display: none;
    float: left;
    width: 100%;    
}

.endresult {
    float: left;
    width:100%;
    background-color: #767676;
    color: #fff
}

.endresult h4 {
   padding-left: 12px;
   margin-bottom: 0px;
    font-family: "Guardian Sans Web";
    font-weight: 800;
}

.endresult p {
    padding-left: 12px;
    padding-right: 12px;
     font-family: "Guardian Sans Web";
}

@media screen and (min-width: 800px) {
    .option-a {
    float: left;
    width: 45%;    
}

.option-b {
    float: right;
    width: 45%;    
}

.option-c {
    float: right;
    width: 45%;    
}
}

