/**
 * Project: Project name 
 * File:    Main SCSS
 */
@import 'modules/_fonts';
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
body {
    margin: 0;
    padding: 0;
}

.choice-wrapper {
    margin:5px;
    overflow: hidden;
}

.choice-wrapper .date {
    font-family: "Guardian Egyptian Web";
    font-weight: 800;
}

.option {
    background-color: #4bc6df;
    margin-bottom: 12px;
    margin-top: 12px  
}

.option h4 {
    padding-left: 12px;
}

.option p {
    padding-left: 12px;
    padding-right: 12px;
}

.option-a {
    float: left;
    width: 100%;    
}

.option-b {
    float: left;
    width: 100%;    
}

.option-c {
    display: none;
    float: left;
    width: 100%;    
}

.endresult {
    float: left;
    width:24%;
    background-color: lightsteelblue;
}

.option {
    
}

@media screen and (min-width: 800px) {
    .option-a {
    float: left;
    width: 45%;    
}

.option-b {
    float: right;
    width: 45%;    
}

.option-c {
    float: right;
    width: 45%;    
}
}

